@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,600;1,400&family=Lora:ital,wght@0,600;1,500&family=Oswald:wght@400;500&display=swap');
.loading-wrapper{
   background-color: #fff;
   position: fixed;
   left:0;
   top:0;
   width:100%;
   height:100%;
   z-index:9999;
   display: flex;
   justify-content: center;
   align-items: center;
   padding:0;
   margin:auto;
   transition:opacity 25s;
}

.loading {
   --speed-of-animation: 0.9s;
   --gap: 6px;
   --first-color: #4c86f9;
   --second-color: #49a84c;
   --third-color: #f6bb02;
   --fourth-color: #f6bb02;
   --fifth-color: #2196f3;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100px;
   gap: 6px;
   height: 100px;
  }
  
  .loading span {
   width: 4px;
   height: 50px;
   background: var(--first-color);
   animation: scale var(--speed-of-animation) ease-in-out infinite;
  }
  
  .loading span:nth-child(2) {
   background: var(--second-color);
   animation-delay: -0.8s;
  }
  
  .loading span:nth-child(3) {
   background: var(--third-color);
   animation-delay: -0.7s;
  }
  
  .loading span:nth-child(4) {
   background: var(--fourth-color);
   animation-delay: -0.6s;
  }
  
  .loading span:nth-child(5) {
   background: var(--fifth-color);
   animation-delay: -0.5s;
  }
  
  @keyframes scale {
   0%, 40%, 100% {
    transform: scaleY(0.05);
   }
  
   20% {
    transform: scaleY(1);
   }
  }
  .navbar{
   background-color:rgba(255, 255,255,0.2);
   backdrop-filter: blur(10px);
   box-sizing:border-box;
   box-shadow:0 4px 6px rgb(0,0,0,0.1);
   font-size:24px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 10px 20px;
   font-family: 'Josefin Sans', sans-serif;
   cursor:default !important;
  }
  @media (max-width: 992px) {
    #ul{
     
      width: 100vw;
      height:100%;
      margin-top:2px;
      padding:120px;
      display: flex;
      flex-direction:column;
      gap:50px;
      justify-content: center;
      align-items: center;
      transition: all 0.3s;
    }
  }
  li{
   margin-right:40px;
   background-color:white;
   color:black;
   width:150px;
   text-align: center;
  border-radius: 50px;
  border: 1px solid rgb(0, 158, 221);
  position: relative;
  overflow: hidden;
  cursor:pointer;
  background: transparent;
  background: linear-gradient(#fff, #fff 50%, #2196f3 50%, #2196f3);
  background-size: 100% 200%;
  transition: background 1s;
  }
  li a{
   color: black!important;
   transition: color 1s;
  }
  li:hover a {
   color:white!important;
   transition: color 1s;
   cursor:pointer;
  }

  li:hover,a:focus{
  background-color: rgb(0, 158, 221);
  color:#fff!important;
  background-position: 100% 100%;
  }
  
  .nav-brand{
  font-family: 'Josefin Sans', sans-serif;
  font-size:24px;
  font-weight:bolder;
  }
  .nav-brand:active{
    background-color: #fff!important;
    color:#000!important;
  }
  .nav-brand span1{
   font-size: 48px;
   margin-top:2px;
   cursor: default;
   font-family: 'Josefin Sans', sans-serif;
  }
  #Home{
    padding-top:50px;
  }
  .Home{
    margin:100px;
    padding-top:-90px;
  }
  .h-Card,.About,.Certification,.Contact{
    -webkit-animation: fade-in-fwd 4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
            animation: fade-in-fwd 4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  }
  
@-webkit-keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
            transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
            transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
     opacity: 1;
  }
}
  .h-Card{
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0;
    backdrop-filter: blur(10px);
    width:100%;
    padding:50px;
    height:600px;
    overflow: hidden;
    border-radius: 20px;
  }
 
  h1{
    display: inline-block;
    padding-left:25.5px !important;
    font-size:60px!important;
    font-weight:500;
    overflow: hidden;
    background: linear-gradient(to right, Red, midnightblue 50%,black 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 2s ease;
    text-decoration: none;
    &:hover {
      background-position: 0 100%;
  }}
  p{
    padding-left: 30px !important;
  }
  @media all,(min-width:600px){
  .h-Card{
      height:850px !important;
      min-width: 100% !important;
    }
  h1{
    font-size:36px!important;
  }
  p{
    font-size:16px!important;
  }
  #Me{
    height:600px;
    margin-top:2% !important;
    position:absolute;
    left:13%;
  }
  .About #Resume{
    padding: 0 0 20px 20px;
    margin-top: 10px;
    margin-left:100px;
    height:550px;
    border-left: 2px solid rgb(213, 213, 213);
    position:relative;
    margin-left: -20px !important;
  }
  .About{
    height:600px !important;
    min-width:100% !important;
   left:14%;
  }
  .About #madara{
    margin-left:-1px!important; 
  }
  .About #pain{
    margin-left:-1px!important; 
  }
  .Certification{
    min-width:100%!important;
    left:14%!important;
    height:900px!important;
    scroll-behavior: smooth;
    overflow-y: scroll!important;
  }
  .img{
    align-items: center!important;
    justify-content: center!important;
  }
  }
  @media (max-width:380px){
   
    .h-Card{
      height:850px !important;
      width: 100% !important;
      margin:auto;
    }
  h1{
    font-size:36px!important;
  }
  p{
    font-size:16px!important;
  }
  #Me{
    height:600px;
    margin-top:2% !important;
    position:absolute;
    left:10px !important;
  }
  #edu{
    display: none!important;
   }
   .Certification{
    min-width:200%!important;
    margin-left:-80px!important;
    height:900px!important;
    scroll-behavior: smooth;
    overflow-y: scroll!important;
  }
  .img{
    align-items: center!important;
    justify-content: center!important;
  }
  }
 
  @media all and (max-width:527px){
    #Me{
      min-height: 250px !important;
      min-width:150px !important;
      margin-top:7% !important;
      position:absolute;
      left: 10% !important;
    }
    h1{
      font-size:48px!important;
    }
    p{
      font-size:16px!important;
    }
    .h-Card{
      min-height:500px !important;
      min-width: 160% !important;
      margin-left:-80px!important;
    }
    .About{
      height:600px !important;
      min-width:150% !important;
      margin-left:-80px!important;
    }
    .Certification{
      min-width:150%!important;
      margin-left:-80px!important;
      height:900px!important;
      scroll-behavior: smooth;
      overflow-y: scroll!important;
    }
    .img{
      align-items: center!important;
      justify-content: center!important;
    }
    .modal-content {
      margin: auto;
      display: block;
      top: 150px !important;
      width: 80%;
      max-width: 700px;
  }
  .Contact{
    min-width:150%!important;
    margin-left:-80px!important;
  }
  .footer .icon-1{
    margin-left:40px!important;
    width:250px;
    height:50px;
    padding-top:10px;
    box-sizing: border-box;
    border-radius: 30px;
    justify-content:center;
    background-color:#fff!important;
    gap:20px!important;
  }
  }
  @media (min-width:992px){
    
    .h-Card{
      height:600px !important;
      width: 100% !important;
    }
    
    h1{
      font-size:48px!important;
    }
    p{
      font-size:16px!important;
    }
    #Me{
      width:300px;
      height:670px;
      position:absolute;
      left:66%!important;
      margin-top:-200px !important;
  }
  .About{
    height:600px !important;
    min-width:100% !important;
    left:66%!important;
  }
  .About #madara{
    margin-left:-1px!important; 
  }
  .About #pain{
    margin-left:-1px!important; 
  }
  .About #obito{
    margin-left:-1px!important; 
  }
  .About #Resume{
    margin-left:-10px!important;
  }
  }
  @media only screen and (max-width:420px){
    .h-Card{
     height:750px !important;
     min-width:100% !important;
     margin-right:120px !important;
     margin-left:-80px!important;
    }
    .navbar{
     min-width:150% !important;
    }
    #Me{
     height:500px !important;
     width:250px!important;
     margin-top:2% !important;
     position:absolute;
     left:20% !important;
   }
   .About{
    height:600px !important;
    min-width:100% !important;
    left:66%!important;
  }
   #edu{
      left:52%!important;
      top:-13%!important;
      position: absolute;
      height:550px!important;
      width:670px!important;
   }
   .Certification{
    min-width:200%!important;
    margin-left:-80px!important;
    height:900px!important;
    scroll-behavior: smooth;
    overflow-y: scroll!important;
  }
  .img{
    align-items: center!important;
    justify-content: center!important;
  }
  .modal-content {
    margin: auto;
    display: block;
    top: 150px !important;
    width: 80%;
    max-width: 700px;
}
.Contact{
  min-width:200%!important;
  margin-left:-80px!important;
}
   h1{
     font-size:12px!important;
   }
   p{
     font-size:12px!important;
   }
   #s-button{
     margin-left:70%!important;
   }
   }
  @media only screen and(max-width:767px) {
    .h-Card{
      height:950px !important;
      min-width:180% !important;
      margin-left:-80px!important;
    }
    #Me{
      height:300px;
      margin-top:2% !important;
      position:absolute;
      left:10% !important;
    }
    h1{
      font-size:32px!important;
    }
    .Certification{
      min-width:200%!important;
      margin-left:-80px!important;
      height:900px!important;
      scroll-behavior: smooth;
      overflow-y: scroll!important;
    }
    .img{
      align-items: center!important;
      justify-content: center!important;
    }
    .modal-content {
      margin: auto;
      display: block;
      top: 150px !important;
      width: 80%;
      max-width: 700px;
  }
  .Contact{
    min-width:200%!important;
    margin-left:-80px!important;
  }
  .footer{
    background-color: #2e2e2e;
    color:#fafafac7;
    min-width:200%!important;
    height:auto;
    padding:100px;
  }  
  }
@media (max-width:1300px){
  #edu{
    display: none!important;
  }
}
@media all and (max-width:640px){
  .About h2 ,.About h3 ,.About h4,.About h5,.About h6{
    display: block;
    font-size: 12px !important;
  }
  .About{
    width:100% !important;
    padding:50px !important;
    height:600px !important;
  }
  .footer{
    background-color: #2e2e2e;
    color:#fafafac7;
    min-width:100%!important;
    height:auto;
    padding:100px;
  }
  .footer #rights{
    margin-left:15%!important;
    font-size:24px;
  }
  .footer .icon-1{
    margin-left:150px!important;
    width:250px;
    height:50px;
    padding-top:10px;
    box-sizing: border-box;
    border-radius: 30px;
    justify-content:center;
    background-color:#fff!important;
    gap:20px!important;
  }
  
}
  @media (max-width:475px){
    .h-Card{
      height:950px !important;
      min-width:240% !important;
      margin-left:-90px!important;
    }
    .navbar{
      min-width: 100%!important;
    }
    #Me{
      height:600px;
      margin-top:2% !important;
      position:absolute;
      left:10% !important;
    }
    h1{
      font-size:32px!important;
    }
    .About{
      min-height:800px !important;
      min-width:200% !important;
      margin-left:-80px!important;
    }
    .About #madara{
      margin-left:-1px!important; 
    }
    .About #pain{
      top: 270px !important;
      margin-left:-1px!important; 
    }
    .About #obito{
      top: 540px !important;
      margin-left:-1px!important; 
    }
    .About #Resume{
      height:900px!important;
      margin-left:-20px!important;
    } 
    .column{
      font-size:21px!important;
    }
    .column #Hscl{
      margin-top:100px!important;
      font-size:21px!important;
    }
    .column #scl{
      margin-top:125px!important;
      font-size:21!important;
    }
    #edu{
     display: none!important;
    }
    .Certification{
      min-width:200%!important;
      margin-left:-80px!important;
      height:900px!important;
      scroll-behavior: smooth;
      overflow-y: scroll!important;
    }
    .img{
      align-items: center!important;
      justify-content: center!important;
    }
    .modal-content {
      margin: auto;
      display: block;
      top: 150px !important;
      width: 80%;
      max-width: 700px;
  }
  .Contact{
    min-width:200%!important;
    margin-left:-80px!important;
  }
  #form-status{
    margin-top:15px!important;
    font-size: 16px!important;
    margin-left:-20px!important;
  }
  .footer{
    min-width:100%!important;
  }
  .footer .icon{
    margin-left:40px!important;
    width:250px;
    height:50px;
    padding-top:10px;
    box-sizing: border-box;
    border-radius: 30px;
    justify-content:center;
    background-color:#fff!important;
    gap:20px!important;
  }
  .footer #rights{
    font-size:14px!important;
    margin-left:1px!important;
  }
    #s-button{
      margin-left:70%!important;
    }
    p{
      font-size:18px!important;
    }
  }
.About{
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0;
    backdrop-filter: blur(10px);
    font-size:36!important;
    width:100%;
    padding:50px;
    height:600px;
    overflow: hidden;
    border-radius: 20px;
  }
  .About #madara{
  height:36px;
  width:36px;
  border-radius: 100%;
  position: Absolute !important;
  left:-18px;
  top: -3px;
}
.About #pain{
  height:36px;
  width:36px;
  border-radius: 100%;
  position: Absolute !important;
  left:-18px;
  top: 157px;
}
.About #obito{
  height:36px;
  width:36px;
  border-radius: 100%;
  position: Absolute !important;
  left:-18px;
  top: 320px;
}
.About #itachi{
  height:36px;
  width:36px;
  border-radius: 100%;
  position: Absolute !important;
  left:-18px;
  top:520px;
}
.About #Resume{
  padding: 0 0 20px 20px;
  margin-top: 10px;
  margin-left:100px;
  height:550px;
  border-left: 2px solid rgb(213, 213, 213);
  position:relative;
}
#About{
  margin:100px;
  padding-top:90px;
  padding-left:-5px;
}
#Certification,#Contact{
  margin:100px;
  padding-top:90px;
  padding-left:-5px;
}
.Contact{
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0;
  backdrop-filter: blur(10px);
  width:100%;
  padding:50px;
  height:600px;
  overflow: hidden;
  border-radius: 20px;
}
.img{
  gap:45px;
  justify-content: center;
  align-items: center;
}
#img{
  width:200px;
  height:150px;
  transition: transform 0.3s ease;
}
  .Certification{
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0;
    backdrop-filter: blur(10px);
    width:100%;
    padding:50px;
    height:600px;
    overflow: hidden;
    border-radius: 20px;
  }
  .thumbnail {
    width: 200px;
    height: auto;
    cursor: pointer;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position:fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgba(0, 0, 0, 0.8); /* Black with opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    top:50px;
    width: 80%;
    max-width: 700px;
}

/* Close button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}
  h2,h3,h4,h5,h6{
    font-size: 3em!important;
  }
  .About{
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0;
    backdrop-filter: blur(10px);
    font-size:36!important;
    width:100%;
    padding:50px;
    height: 600px !important;
    overflow: hidden;
    border-radius: 20px;
  }
  .Certification{
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0;
    backdrop-filter: blur(10px);
    font-size:36!important;
    width:100%;
    padding:50px;
    height: 600px !important;
    overflow: hidden;
    border-radius: 20px;
  }
    #s-button{
      left: 100% !important;
      top: 0;
      font-size:60px;
      background-color: #fff!important;
      border-color: transparent!important;
      border: none;
      border-radius:100%;
      position:sticky !important;
    }
    #s-button:target{
      -webkit-border-before-color: transparent!important;
    }
    .paragraph{
      font-family: 'Josefin Sans', sans-serif;
      font-size:24px;
    }
    #edu{
      left:52%!important;
      top:-13%!important;
      position: absolute;
      height:550px!important;
      width:670px!important;
    }
    input[type=text], select, textarea {
      width: 100%;
      padding: 12px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      margin-top: 6px;
      margin-bottom: 16px;
      resize: vertical;
    }
    input[type=submit] {
      background-color: #04AA6D;
      color: white;
      padding: 12px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
    input[type=submit]:hover {
      background-color: #45a049;
    }
    .footer{
      background-color: #2e2e2e;
      color:#fafafac7;
      width:100%;
      height:auto;
      padding:100px;
    }
    .icon{
      margin-left:40%!important;
      width:250px;
      height:50px;
      padding-top:10px;
      box-sizing: border-box;
      border-radius: 30px;
      justify-content: center;
      background-color:#fff!important;
      gap:25px!important;
    }
    .icon >a{
      text-decoration: none!important; /* Remove underline for anchor tags */
  }
  
  .icon> a:hover {
      text-decoration: none!important; /* Ensure no underline appears on hover */
  }
   #i-1{ 
    background: #833ab4;
    background: linear-gradient(
      to right,
      #833ab4,#fd1d1d,#fcb045);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
   }
   #i-2{
   color:	#1877F2!important;
   }
   #i-3{
   color:#f6bb02;
   }
   #i-4{
    color: #0077B5!important;
   }
   #i-5{
    color:#000;
   }
   .footer #rights{
    margin-left:35%;
    font-size:24px;
  }
  

 